*{
    background-color:rgb(43, 50, 58);
    color: whitesmoke;
}
.profile {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center (if needed) */
  margin-top: 20px;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #007bff;
}


body{
    text-align: center;

}
.resume-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.resume-btn:hover {
    background: #0056b3;
}
